.main-container{    
    font-family: 'Roboto', sans-serif;
}
.header{
    background-image: url('images/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 590px;
}
.header ul{
    text-align: center;
    padding: 0;
}
.header li{
    display: inline-block;
    padding: 5px;
}
.header li i{
    color: white;
    font-size: 25px;
}
.centre{
    width: 70%;
    margin: 0 auto;
    border-bottom: 1px solid white;
    margin-bottom: 70px;
}
.name{
    color:white;
    font-size: 3em;  
    padding-top: 200px;
    text-align: center;
}
.decs{
    color: white;
    text-align: center;
    padding-bottom: 70px;
}
.about{
    background-color: #17252a;
    color: #def2f1;
    padding: 90px 0;
}
.about h1{
    text-align: center;
    color: #def2f1;
}
.about p{
    width: 70%;
    font-size: 17px;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
}
.skills{
    background-color: #88bdbc;

}
.skills-h1{
    text-align: center;
    padding-top: 90px;
    padding-bottom: 40px;
}
.skills-inner{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
#education{
    width: 80%;
    margin: 0 auto;
    padding-bottom: 90px;
}
.edu{
    background-color: #17252a;
    color: #def2f1;;
}
.item{
    width: 11%;  
    margin:3px;  
    align-self: flex-end;
    display: flex;   
}
.item p{
    margin: 0 auto;
    align-self: flex-end;

}
.html{
    height: 250px;
    border-top: 1px solid #17252a;
    border-left: 1px solid #17252a;
    border-right: 1px solid #17252a;
    border-radius: 5px 5px 0 0;
}
.css{
    height: 250px;
    border-top: 1px solid #17252a;
    border-left: 1px solid #17252a;
    border-right: 1px solid #17252a;
    border-radius: 5px 5px 0 0;
}
.javascript{
    height: 150px;
    border-top: 1px solid #17252a;
    border-left: 1px solid #17252a;
    border-right: 1px solid #17252a;
    border-radius: 5px 5px 0 0;
}
.jquery{
    height: 140px;
    border-top: 1px solid #17252a;
    border-left: 1px solid #17252a;
    border-right: 1px solid #17252a;
    border-radius: 5px 5px 0 0;
}
.react{
    height: 100px;
    border-top: 1px solid #17252a;
    border-left: 1px solid #17252a;
    border-right: 1px solid #17252a;
    border-radius: 5px 5px 0 0;
}
.php{
    height: 50px;
    border-top: 1px solid #17252a;
    border-left: 1px solid #17252a;
    border-right: 1px solid #17252a;
    border-radius: 5px 5px 0 0;
}
.wordpress{
    height: 150px;
    border-top: 1px solid #17252a;
    border-left: 1px solid #17252a;
    border-right: 1px solid #17252a;
    border-radius: 5px 5px 0 0;
}
.projects{
    background-size: cover;
    background-image: url('images/project-bg.png');
    height: 100%;
}
.proj-h1{
    text-align: center;
    color: #def2f1;
    padding-top: 90px;
}
.proj{
    height: 150px;
    width: 150px;
    background-color: #88bdbc;
    border-radius: 3px;   
    position: relative;
    transition: all 0.5s ease-in-out 0.1s;
}

.proj p{
    font-size: 80px;
    top: -28px;
    left:107px;
    position: absolute;    
}
.proj a{
    color:  #17252a;
    position: absolute;
    left:0;
    top:100px;
}
.proj a:hover{
    text-decoration: none;
}
.proj10 p{
    left:60px;
}
.projects-inner{
    padding:35px 0;
    display: grid;
    margin:auto;
    max-width: 800px;
    grid-template-columns:repeat(4, 16vw);
    grid-template-rows: repeat(7, 16vw);

}
.proj1{
    grid-column: 3/4;
    grid-row:1/2;
}
.proj2{
    grid-column: 1/2;
    grid-row:2/3;
    opacity: 0.6;
}

.proj3{
    grid-column: 2/3;
    grid-row:3/4;
}
.proj4{
    grid-column: 4/5;
    grid-row:3/4;
}
.proj5{
    grid-column: 1/2;
    grid-row:4/5;
}
.proj6{
    grid-column: 3/4;
    grid-row:4/5;
    opacity: 0.6;
}

.proj7{
    grid-column: 4/5;
    grid-row:5/6;
}
.proj8{
    grid-column: 1/2;
    grid-row:6/7;
}
.proj9{
    grid-column: 3/4;
    grid-row:6/7;
}
.proj10{
    grid-column: 2/3;
    grid-row:7/8;
    opacity: 0.6;
}
@media only screen and (max-width: 1000px) {
    .skills-inner{
        width: 90%;
    }
  .projects-inner{
    padding: 90px 0;
    display: grid;
    margin:auto;
    max-width: 800px;
    grid-template-columns:repeat(5, 18vw);
    grid-template-rows: repeat(9, 18vw);

}
.proj1{
    grid-column: 3/4;
    grid-row:1/2;
}
.proj2{
    grid-column: 5;
    grid-row:1/2;
   
}

.proj3{
    grid-column: 2/3;
    grid-row:3/4;
}
.proj4{
    grid-column: 4/5;
    grid-row:3/4;
}
.proj5{
    grid-column: 1/2;
    grid-row:5/6;
}
.proj6{
    grid-column: 3/4;
    grid-row:5/6;
    opacity: 0.5;
}

.proj7{
    grid-column: 5;
    grid-row:5/6;
}
.proj8{
    grid-column: 2/3;
    grid-row:7;
}
.proj9{
    grid-column: 4;
    grid-row:7;
}
.proj10{
    grid-column: 3/4;
    grid-row:9;
    opacity: 0.5;
}
}
@media only screen and (max-width: 700px) {
    .header{
    background-image: url('images/background2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 590px;
}
    .about p{
        width: 90%;
    }
    .projects{
        background-color: #112d32;
        height: 100%
    }
    .projects-inner{
        display: block;
        padding-top: 38px;
    }
    .proj{
        width: 90%;
        margin: 0 auto;
        text-align: center;
    }
    .proj p {
        display:inline-block;
        position: static;
        margin-bottom: 0;
    } .proj a{
        display:inline-block;
        position: static;
    }
}